@model EstudoJWT.Models.UsuarioViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Usuário</h2>

@using (Html.BeginForm("Registrar", "Autenticacao", FormMethod.Post))
{
    @Html.LabelFor(u => u.Email)
    @Html.TextBox(nameof(Model.Email), "", new { type = "email" })
    @Html.LabelFor(u => u.Senha)
    @Html.TextBox(nameof(Model.Senha), "", new { type = "password" })
<button type="submit">Cadastrar</button>
}

