@model EstudoJWT.Models.RegistrarViewModel
@{
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h2 class="title-container-content">Cadastro de Usuário</h2>

@using (Html.BeginForm("Registrar", "Home", FormMethod.Post))
{
    <div class="container-form">
        @Html.TextBox(nameof(Model.Email), "", new { type = "email", @class = "form-control", placeholder = "Email" })
    </div>
    <div class="container-form">
        @Html.TextBox(nameof(Model.Senha), "", new { type = "password", @class = "form-control", placeholder = "Senha" })
    </div>
    <div class="container-button">
        <button type="submit" class="btn btn-cadastrar">Cadastrar</button>
    </div>
}